@tailwind base;
@tailwind components;
@tailwind utilities;

/* Boas práticas globais para body */
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; /* Suavizar fonte no Webkit */
  -moz-osx-font-smoothing: grayscale; /* Suavizar fonte no macOS */
}

/* Aplicando antialiasing globalmente */
* {
  @apply antialiased; /* Utilitário Tailwind para antialiasing */
}

/* Definições de altura total para garantir que o layout use 100% da altura */
html,
body {
  @apply h-full;
}

